@charset "UTF-8";

@font-face {
  font-family: "shore-icons";
  src:url("fonts/shore-icons.eot");
  src:url("fonts/shore-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/shore-icons.woff") format("woff"),
    url("fonts/shore-icons.ttf") format("truetype"),
    url("fonts/shore-icons.svg#shore-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "shore-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="shore-icon-"]:before,
[class*=" shore-icon-"]:before {
  font-family: "shore-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shore-icon-action-sheet-call:before {
  content: "\e200";
}
.shore-icon-action-sheet-delete:before {
  content: "\e201";
}
.shore-icon-action-sheet-favourite:before {
  content: "\e202";
}
.shore-icon-add:before {
  content: "\e203";
}
.shore-icon-appointment-detail-accept:before {
  content: "\e204";
}
.shore-icon-appointment-detail-add-customer:before {
  content: "\e205";
}
.shore-icon-appointment-detail-edit:before {
  content: "\e206";
}
.shore-icon-appointment-detail-menu:before {
  content: "\e207";
}
.shore-icon-appointment-detail-move:before {
  content: "\e208";
}
.shore-icon-appointment-detail-notification-info:before {
  content: "\e209";
}
.shore-icon-appointment-detail-notification-success:before {
  content: "\e210";
}
.shore-icon-appointment-detail-reject:before {
  content: "\e211";
}
.shore-icon-delete-01:before {
  content: "\e212";
}
.shore-icon-confirm:before {
  content: "\e213";
}
.shore-icon-collapse:before {
  content: "\e214";
}
.shore-icon-calendar-today:before {
  content: "\e215";
}
.shore-icon-chat:before {
  content: "\e216";
}
.shore-icon-calendar-list:before {
  content: "\e217";
}
.shore-icon-calendar-filter:before {
  content: "\e218";
}
.shore-icon-backend-nav-employees:before {
  content: "\e060";
}
.shore-icon-back:before {
  content: "\e221";
}
.shore-icon-back-1:before {
  content: "\e222";
}
.shore-icon-appointmentsuccess:before {
  content: "\e223";
}
.shore-icon-appointmenterror:before {
  content: "\e224";
}
.shore-icon-delete-02:before {
  content: "\e225";
}
.shore-icon-hamburger:before {
  content: "\e227";
}
.shore-icon-import:before {
  content: "\e228";
}
.shore-icon-import-contacts:before {
  content: "\e229";
}
.shore-icon-logout:before {
  content: "\e230";
}
.shore-icon-mobile-attachment:before {
  content: "\e231";
}
.shore-icon-mobile-attachment-file:before {
  content: "\e232";
}
.shore-icon-mobile-calendar:before {
  content: "\e233";
}
.shore-icon-mobile-search:before {
  content: "\e236";
}
.shore-icon-mobile-phone:before {
  content: "\e239";
}
.shore-icon-mobile-number-of-people:before {
  content: "\e240";
}
.shore-icon-mobile-new-customer:before {
  content: "\e241";
}
.shore-icon-mobile-message:before {
  content: "\e242";
}
.shore-icon-mobile-logout:before {
  content: "\e243";
}
.shore-icon-mobile-location:before {
  content: "\e244";
}
.shore-icon-mobile-info:before {
  content: "\e245";
}
.shore-icon-mobile-homepage:before {
  content: "\e246";
}
.shore-icon-mobile-feedback:before {
  content: "\e247";
}
.shore-icon-mobile-decrease:before {
  content: "\e248";
}
.shore-icon-mobile-service:before {
  content: "\e249";
}
.shore-icon-mobile-steps:before {
  content: "\e250";
}
.shore-icon-mobile-subject:before {
  content: "\e251";
}
.shore-icon-mobile-time:before {
  content: "\e252";
}
.shore-icon-phone:before {
  content: "\e253";
}
.shore-icon-send-message:before {
  content: "\e254";
}
.shore-icon-status-alternative:before {
  content: "\e255";
}
.shore-icon-status-cancel:before {
  content: "\e260";
}
.shore-icon-status-circle:before {
  content: "\e261";
}
.shore-icon-status-confirm:before {
  content: "\e263";
}
.shore-icon-backend-attachment:before {
  content: "\e002";
}
.shore-icon-backend-attachment-1:before {
  content: "\e05e";
}
.shore-icon-backend-bday:before {
  content: "\e041";
}
.shore-icon-backend-bookable:before {
  content: "\e003";
}
.shore-icon-backend-cal-settings:before {
  content: "\e004";
}
.shore-icon-backend-collapse:before {
  content: "\e005";
}
.shore-icon-backend-delete-02:before {
  content: "\e008";
}
.shore-icon-backend-directory-bookable:before {
  content: "\e009";
}
.shore-icon-backend-directory-status:before {
  content: "\e040";
}
.shore-icon-backend-draft:before {
  content: "\e04d";
}
.shore-icon-backend-dragndrop:before {
  content: "\e00a";
}
.shore-icon-backend-edit:before {
  content: "\e048";
}
.shore-icon-backend-fail:before {
  content: "\e049";
}
.shore-icon-backend-favorites:before {
  content: "\e01d";
}
.shore-icon-backend-feedback-negative:before {
  content: "\e05c";
}
.shore-icon-backend-feedback-positive:before {
  content: "\e01c";
}
.shore-icon-backend-filter:before {
  content: "\e00c";
}
.shore-icon-backend-filter-down:before {
  content: "\e02c";
}
.shore-icon-backend-filter-up:before {
  content: "\e02b";
}
.shore-icon-backend-go2profile:before {
  content: "\e026";
}
.shore-icon-backend-image:before {
  content: "\e04a";
}
.shore-icon-backend-info:before {
  content: "\e04b";
}
.shore-icon-backend-menu:before {
  content: "\e025";
}
.shore-icon-backend-mobile:before {
  content: "\e04c";
}
.shore-icon-backend-nav-appointments:before {
  content: "\e020";
}
.shore-icon-backend-nav-branch:before {
  content: "\e01f";
}
.shore-icon-backend-nav-close:before {
  content: "\e019";
}
.shore-icon-backend-nav-customers:before {
  content: "\e03f";
}
.shore-icon-backend-nav-dropdown:before {
  content: "\e015";
}
.shore-icon-backend-nav-employees-1:before {
  content: "\e289";
}
.shore-icon-backend-nav-feedback:before {
  content: "\e014";
}
.shore-icon-backend-nav-insights:before {
  content: "\e011";
}
.shore-icon-backend-nav-newsletter:before {
  content: "\e00d";
}
.shore-icon-backend-nav-open:before {
  content: "\e02d";
}
.shore-icon-backend-nav-partner-network-01:before {
  content: "\e02a";
}
.shore-icon-backend-nav-partner-network-02:before {
  content: "\e027";
}
.shore-icon-backend-nav-resources:before {
  content: "\e024";
}
.shore-icon-backend-nav-services:before {
  content: "\e021";
}
.shore-icon-backend-nav-shiftplan:before {
  content: "\e01a";
}
.shore-icon-backend-nav-subnavi:before {
  content: "\e017";
}
.shore-icon-backend-new-appointment:before {
  content: "\e045";
}
.shore-icon-backend-new-customer:before {
  content: "\e046";
}
.shore-icon-backend-new-message:before {
  content: "\e047";
}
.shore-icon-backend-new-newsletter:before {
  content: "\e044";
}
.shore-icon-backend-new-shift:before {
  content: "\e043";
}
.shore-icon-backend-next:before {
  content: "\e050";
}
.shore-icon-backend-notes:before {
  content: "\e057";
}
.shore-icon-backend-payment-amount:before {
  content: "\e058";
}
.shore-icon-backend-payment-card:before {
  content: "\e059";
}
.shore-icon-backend-payment-online:before {
  content: "\e311";
}
.shore-icon-backend-phone:before {
  content: "\e042";
}
.shore-icon-backend-planned:before {
  content: "\e04f";
}
.shore-icon-backend-previous:before {
  content: "\e04e";
}
.shore-icon-backend-print:before {
  content: "\e016";
}
.shore-icon-backend-publish:before {
  content: "\e013";
}
.shore-icon-backend-refund:before {
  content: "\e055";
}
.shore-icon-backend-safe:before {
  content: "\e054";
}
.shore-icon-backend-search:before {
  content: "\e012";
}
.shore-icon-backend-send-reminder:before {
  content: "\e053";
}
.shore-icon-backend-service-step-event:before {
  content: "\e321";
}
.shore-icon-backend-spinner:before {
  content: "\e00f";
}
.shore-icon-backend-starred:before {
  content: "\e00e";
}
.shore-icon-backend-starred-solid:before {
  content: "\e02e";
}
.shore-icon-backend-subject:before {
  content: "\e051";
}
.shore-icon-backend-upload:before {
  content: "\e05f";
}
.shore-icon-backend-waitinglist:before {
  content: "\e029";
}
.shore-icon-file:before {
  content: "\e028";
}
.shore-icon-message:before {
  content: "\e023";
}
.shore-icon-mobile:before {
  content: "\e022";
}
.shore-icon-next:before {
  content: "\e03d";
}
.shore-icon-resource:before {
  content: "\e03e";
}
.shore-icon-social-facebook:before {
  content: "\e334";
}
.shore-icon-social-instagram:before {
  content: "\e335";
}
.shore-icon-social-newsletter:before {
  content: "\e336";
}
.shore-icon-social-twitter:before {
  content: "\e342";
}
.shore-icon-support-call:before {
  content: "\e05a";
}
.shore-icon-support-email:before {
  content: "\e05b";
}
.shore-icon-time:before {
  content: "\e018";
}
.shore-icon-widget-edit:before {
  content: "\e346";
}
.shore-icon-backend-alternative:before {
  content: "\e001";
}
.shore-icon-backend-add-attachment:before {
  content: "\e05d";
}
.shore-icon-attachment:before {
  content: "\e000";
}
.shore-icon-appointment-download:before {
  content: "\e02f";
}
.shore-icon-appointment-notification-info-01:before {
  content: "\e030";
}
.shore-icon-appointment-notification-info-02:before {
  content: "\e031";
}
.shore-icon-appointment-notification-info-feedback:before {
  content: "\e032";
}
.shore-icon-appointment-notification-info-lock:before {
  content: "\e033";
}
.shore-icon-appointment-notification-info-x:before {
  content: "\e035";
}
.shore-icon-appointment-share-email:before {
  content: "\e036";
}
.shore-icon-close:before {
  content: "\e037";
}
.shore-icon-facebook:before {
  content: "\e038";
}
.shore-icon-minus:before {
  content: "\e039";
}
.shore-icon-plus:before {
  content: "\e03a";
}
.shore-icon-tick:before {
  content: "\e03b";
}
.shore-icon-twitter:before {
  content: "\e03c";
}
.shore-icon-appointment-notification-info-tick:before {
  content: "\e034";
}
.shore-icon-action-sheet-favourite-filled:before {
  content: "\e359";
}
.shore-icon-floating-arrow:before {
  content: "\e365";
}
.shore-icon-back-new:before {
  content: "\e361";
}
.shore-icon-hamburger-new:before {
  content: "\e362";
}
.shore-icon-appointment-dot:before {
  content: "\e363";
}
.shore-icon-add-new:before {
  content: "\e364";
}
.shore-icon-backend-payment-type:before {
  content: "\e056";
}
.shore-icon-backend-appointment-color:before {
  content: "\e366";
}
.shore-icon-backend-payment-online-new:before {
  content: "\e367";
}
.shore-icon-recurring:before {
  content: "\e01b";
}
.shore-icon-backend-delete:before {
  content: "\e007";
}
.shore-icon-backend-messenger-videocall:before {
  content: "\e061";
}
.shore-icon-menu:before {
  content: "\e372";
}
.shore-icon-refresh:before {
  content: "\e373";
}
.shore-icon-backend-expand:before {
  content: "\e00b";
}
.shore-icon-backend-scheduled:before {
  content: "\e375";
}
.shore-icon-backend-end-call:before {
  content: "\e376";
}
.shore-icon-backend-messenger-videocall-filled:before {
  content: "\e377";
}
.shore-icon-backend-microphone-off:before {
  content: "\e378";
}
.shore-icon-backend-microphone-on:before {
  content: "\e379";
}
.shore-icon-backend-notification:before {
  content: "\e380";
}
.shore-icon-mobile-customer:before {
  content: "\e381";
}
.shore-icon-control-center-about:before {
  content: "\e062";
}
.shore-icon-backend-phone-1:before {
  content: "\e063";
}
.shore-icon-show:before {
  content: "\e064";
}
.shore-icon-hide:before {
  content: "\e065";
}
.shore-icon-placeholder-no-preference:before {
  content: "\e066";
}
.shore-icon-placeholder-table:before {
  content: "\e068";
}
.shore-icon-placeholder-resource:before {
  content: "\e067";
}
.shore-icon-backend-lock:before {
  content: "\e06a";
}
.shore-icon-backend-nav-settings:before {
  content: "\e01e";
}
.shore-icon-actions-logout:before {
  content: "\e06b";
}
.shore-icon-actions-helpcenter:before {
  content: "\e06c";
}
.shore-icon-backend-nav-messages:before {
  content: "\e010";
}
.shore-icon-action-sheet-edit:before {
  content: "\e06d";
}
.shore-icon-backend-success:before {
  content: "\e052";
}
.shore-icon-a-warning:before {
  content: "\e06e";
}
.shore-icon-backend-confirm:before {
  content: "\e006";
}
.shore-icon-filter:before {
  content: "\e06f";
}
.shore-icon-service-blog:before {
  content: "\e070";
}
.shore-icon-no-appointment:before {
  content: "\e072";
}
.shore-icon-customer:before {
  content: "\e069";
}
.shore-icon-calendar-notification:before {
  content: "\e072";
}
.shore-icon-no-resource:before {
  content: "\e075";
}
.shore-icon-no-appointment:before {
  content: "\e071";
}
.shore-icon-backend-nav-adwords:before {
  content: "\e073";
}
